UnityProject/Temp
*.log
UnityProject/Library

UnityProject/\.vs/UnityProject/v15/


UnityProject/Ilmenite Main/\.vs/

UnityProject/Ilmenite Main/Library/
/UnityProject/Ilmenite Main/Temp
/WaterFlowProject/.idea
